apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui-sourcecode
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui-sourcecode
  template:
    metadata:
      labels:
        app: guestbook-ui-sourcecode
        tst: tst-1111277
    spec:
      containers:
      - image: omniregistry/front-end:2c363252f5b979a110ec5d7f3f123a8d0ba12b00
        name: guestbook-ui
        ports:
        - containerPort: 80

