apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui-sourcecode
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui-sourcecode
  template:
    metadata:
      labels:
        app: guestbook-ui-sourcecode
        tst: tst-1111277
    spec:
      containers:
      - image: omniregistry/front-end:af6e35f86953a4202ed0fc4a3ebe7ff3c59b9f7c
        name: guestbook-ui
        ports:
        - containerPort: 80

